@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

body {
    background: #F9F3E8;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.container {
    background-image: url(prism.png);
    background-color: rgb(69, 69, 69);
    width: 392px;
    min-height: 520px;
    height: auto;
    border-radius: 40px;
    box-shadow: 0 7px 30px rgba(0,0,0,0.25), 0 3px 15px rgba(0,0,0,0.3);
    border: 1px solid rgb(245, 155, 52);
}

.container .display {
    background: #FFFFFF;
    border-radius: 5px;
    border: 2px solid #CECECE;
    min-height: 75px;
    height: auto;
    width: 86%;
    margin: 50px auto 35px auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 15px 5px 15px;
    font-size: 2.5rem;
    font-weight: 600;
    word-wrap: break-word;
    word-break: break-all;
}

.container .wrapper {
    display: grid;
    grid-template-columns: repeat(4, 74px);
    grid-template-rows: repeat(5, 54px);
    justify-content: center;
    height: 100%;
    grid-gap: 0.8rem;
}

.grid-item1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.container .wrapper .btn {
    font-size: 1.6rem;
    border: none;
    background: rgba(255 , 255 , 255, 0.6);
    cursor: pointer;
}

.container .wrapper .btn:hover {
    background: rgba(161, 161, 161, 0.9);
}

.container .wrapper .btn:active {
    margin: 3px;
    font-size: 1.3rem;
}

.container .wrapper .number {
    background: rgba(255, 255, 255, 0.9);
    font-weight: 600;
}

.container .wrapper .equal {
    background:rgba(245, 155, 52, 0.9);
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 4;
    grid-column-end: 5;
}

.container .wrapper .equal:hover {
    background:rgb(255, 145, 0);
    border: 1px solid rgb(255, 135, 0);
}

.signature {
    text-align: center;
    line-height: 1.5;
    margin-top: 20px;
}

.current {
    padding-left: 10px;
}
